<% post.comments.each do |comment| %>
    <div class="pull-left">
      <%= image_tag comment.user.gravatar_url default: "identicon", class: 'avatar' %>
    </div>
    <div class="comment-content">
      <div class="comment-heading">
        <h4 class="user"><%= link_to comment.user.name, user_path(comment.user) %></h4>
        <h5 class="time"><%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago</h5>
      </div>
      <strong><%= comment.content %></strong><br>
        <% if current_user == comment.user %>
          <%= link_to 'Delete Comment', post_comment_path(post, comment), method: :delete, class: "btn btn-danger btn-xs" %>
        <% end %>

    </div>
<% end %>
