<div class="container">
  <div class="col-sm-8">
    <div class="panel panel-white post panel-shadow">
      <% unless current_page?(user_path(post.user)) %>
         <strong><%= link_to post.user.name, user_path(post.user) %> made a post</strong>
       <% end %><br>

    <div class="post-description">
      <strong><%= post.content %></strong>
      <% post.tags.each do |tag| %>
       <strong class="label label-info">#<%= link_to tag.name, tag_path(tag) %></strong> 
      <% end %>
      <br>
      <%= image_tag(post.photo.url, size: "400x250", alt: "Picture", padding: "15px") if post.photo? %>
    </div>

    <h6 class="text-muted time">Created <%= time_ago_in_words(post.created_at) %> ago</h6>
      <%= link_to "Show Post", user_post_path(post.user, post), class: "btn btn-primary btn-xs"  %>
      <% if current_user == post.user %>
        <%= link_to 'Delete Post', user_post_path(post.user, post), method: :delete, class: "btn btn-danger btn-xs" %>
      <% end %><br><br>
  <% unless current_page?(user_posts_path(post.user)) or current_page?(feed_path)%>
    <div class="post-footer">
      <div class="input-group">
        <%= form_for ([post, Comment.new]) do |f| %>
          <%= f.text_area :content, placeholder: 'Add a comment', class: 'form-control', size: "25X12" %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.submit "Post Comment", class: "btn btn-primary" %>
        <% end %>
       </div>
        <ul class="comment-list">
          <%= render partial: 'comments/comment', locals: {post: post} %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>

</div>
